$links_color: #767B91;
$main_color: #2A324B;
$secondary_color: #F2D0A1;
$background_color: #e0e0e0;
$text_color: #202020;

.flexible-span {
	display: flex;
	height: auto;
	width: 100%;
}
.about_middle {
	>div {
		background-color: $secondary_color;
	}
	display: grid;
	grid-template-rows: .5fr 1fr auto;
}
.about_middle_inner_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  // height: 100%;
  // margin: 5% 0 5% 0;
}
.about_introduction_text{
  > p .highlight{
    color: $background_color;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    display: inline;
    
  }
  // margin: 3% 0 3% 0;
  // > span {
  //   font-size: 35px;
  //   font-weight: normal;
  //   // font-stretch: wider;
  // }
  font-size: 1.3vw;
  font-weight: normal;
  display: flex;
  // flex: 100%;
  width: 92%;
  // display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: left; /* Center the text horizontally */
  height: 100%;
  // margin: 1% 0 % 0;
  // text-wrap: wrap;
  //  margin-left: 10px;
  //  margin-right: 10px;
  border-radius: 30px;
  background-color: $links_color;
  color: $text_color;
  letter-spacing: 1px;
  // padding: 15px 0px 15px 0px;
  // margin: 0px 0px 0px 100px;
  // padding: 5px;
}
.about_left {
	>div {
		background-color: $secondary_color;
	}
	display: grid;
	grid-template-rows: 1.5fr 6.25fr;
	background-color: $secondary_color;
  border-radius: 0 0 0 30px;
}
.about_middle_child_left, .about_middle_child_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.about_right {
	>div {
		background-color: $secondary_color;
	}
	display: grid;
	grid-template-rows: 1.5fr 6.25fr;
	background-color: $secondary_color;
  border-radius: 0 0 30px 0;
}
.about_middle_child {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: auto;
}


// .skills_table {
//   > .section_subtitles {
//     text-align: center; /* Center the subtitle text */
//     font-size: 2.5em;
//     // margin-bottom: 1em; /* Add some space between subtitle and content */
//   }
//   display: flex;
//   flex-direction: column;
//   // align-items: center; /* Center the content horizontally */
//   // width: 100%;
//   height: 100vh;
//   justify-content: space-between;
// }

// .skills_content {
//   display: flex;
//   width: 100%;
//   justify-content: space-between; /* Space the left and right sections evenly */
// }

// .skills_left,
// .skills_right {
//   > ul{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // height: 100%;
//   }
//   // height: 100%;
//   width: 50%; /* Adjust the width of left and right sections */
// }

// .skills_left > ul{
//   text-align: left;
// }
// .skills_right > ul {
//   text-align: right; /* Align text to the right */
// }
