$links_color: #767B91;
$main_color: #2A324B;
$secondary_color: #F2D0A1;
$background_color: #e0e0e0;

.landing_left {
	>div {
		&:nth-child(1) {
			// background-color: $main_color;
      background-color: $background_color;
		}
		&:nth-child(2) {
			// background-color: $main_color;
      background-color: $background_color;
		}
	}
	display: grid;
	grid-template-rows: .5fr 3fr 1fr;
}
.landing_middle {
	>div {
		&:nth-child(1) {
			// background-color: $main_color;
      background-color: $background_color;
		}
    &:nth-child(2) {
			// background-color: $main_color;
      background-color: $background_color;
		}
    &:nth-child(3) {
			// background-color: $main_color;
      background-color: $secondary_color;
		}
    // grid-template-rows: 1fr 1.2fr;
  }
    > div >.landing_middle_inner_title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: auto;
    }
	display: grid;
	grid-template-rows: .5fr 3fr 1fr;
}
.landing_middle_inner{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#portrait_image {
  display: flex;
  align-items: center;
  max-width: 15vw;
  // min-width: 250px;
  width: auto;
  margin: 0 0 0 10%;
  justify-content: flex-end;
  max-height: 15vw;
  border-radius: 50%;
  // vertical-align: middle;
}
#image_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}
#title_container{
  > h1 {
    font-size: 4.5vw;
    font-weight: normal;
    font-stretch:wider;
    padding: 0;
    margin: 0;
  }
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  // flex: 50%;
}
// .landing_middle_inner_desc{
//   width: auto;
//   height: auto;
// }
.introduction_text{
  // > span {
  //   font-size: 35px;
  //   font-weight: normal;
  //   // font-stretch: wider;
  // }
  font-size: 2vw;
  font-weight: normal;
  display: flex;
  // flex: 100%;
  width: 70%;
  // display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: left; /* Center the text horizontally */
  height: 70%;
  // text-wrap: wrap;
  //  margin-left: 10px;
  //  margin-right: 10px;
  border-radius: 30px;
  background-color: $main_color;
  color: $background_color;
  letter-spacing: 1px;
  // padding: 15px 0px 15px 0px;
  // margin: 0px px 0px 100px;
  // padding: 5px;
}
.landing_middle_inner_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// #introduction_text {
//   font-size: 35px;
//   font-weight: normal;
//   width: 70%;
//   text-align: center;
//   border-radius: 30px;
//   background-color: $main_color;
//   color: $background_color;
//   letter-spacing: 1px;
// }

.landing_right {
	>div {
		&:nth-child(1) {
			// background-color: $main_color;
      background-color: $background_color;
		}
		&:nth-child(2) {
			// background-color: $main_color;
      background-color: $background_color;
		}
    &:nth-child(3) {
			// background-color: $main_color;
      border-top-right-radius: 30px;
      background-color: $secondary_color;
		}
	}
	display: grid;
	grid-template-rows: .5fr 3fr 1fr;
}
.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#linkedin_logo, #github_logo {
	max-width: 35px;
	width: 100%;
	padding: 5px;
}
#linkedin_container, #github_container {
	display: flex;
	margin: 5px;
	cursor: pointer;
	align-items: center;
	text-decoration: none;
	color: black;
	width: 7em;
}
aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $secondary_color;
	border-top-left-radius: 30px;
	height: 100%;
	width: 100%;
}


