$links_color: #767B91;
$main_color: #2A324B;
$secondary_color: #F2D0A1;
$background_color: #e0e0e0;
$text_color: #202020;

// .box{
//   border: solid 1px $text_color;
// }

span {
  margin: 0;
  display: flex;
  height: 95vh;
}
.side-space {
  background-color: $background_color;
}
.section_titles_container{
  > .section_titles{
    font-size: 6vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
  }
  display: grid;
  height: auto;
}
.container {
  flex: 1 1 10%;
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  height: 100%;
}