$links_color: #767B91;
$main_color: #2A324B;
$secondary_color: #F2D0A1;
$background_color: #e0e0e0;

.box{
  border: solid 1px black;
}

span {
  margin: 0;
  display: flex;
  height: 93vh;
}

.side-space {
  // padding: 0 2.5% 0 2.5%;
  background-color: $background_color;
}

.container {
  flex: 1 1 10%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 100%;
}