$links_color: #767B91;
$main_color: #2A324B;
$secondary_color: #F2D0A1;
$background_color: #e0e0e0;
$text_color: #202020;

.flexible-span {
	display: flex;
	height: auto;
	width: 100%;
}
.section_titles_container{
	margin: 3.5%;
}
.projects_middle {
	> div {
		background-color: $background_color;
	}
	color: $text_color;
}
.projects_left, .projects_right {
	display: grid;
	background-color: $background_color;
}