$links_color: #767B91;
$main_color: #2A324B;
$secondary_color: #F2D0A1;
$background_color: #e0e0e0;

.skills_table {
  .section_subtitles {
    text-align: center;
    font-size: 2.5em;
    // font-stretch: wider;
    letter-spacing: 1px;
    font-weight: normal;
    margin: 5% 0 5% 0;
  }
  display: flex;
  flex-direction: column;
  color: $background_color;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: auto;
  border-radius: 30px;
  margin: 2vh 0 2vh 0;
  background-color: $main_color;
}

.skills_content {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0 0 10% 0;
}

.skills_left,
.skills_right {
  width: 50%;
}

.skills_left ul,
.skills_right ul {
  display: flex;
  flex-direction: column;
}

.skills_left {
  > ul{
    align-items: flex-start; /* Align items to the start (left) */
  }
  border-right: solid $background_color .5px;
}
.skills_right {
  > ul{
    align-items: flex-end; /* Align items to the start (left) */
  }
  border-left: solid $background_color .5px;
}

.skills_left ul li,
.skills_right ul li {
  margin: 0.2em 0;
}

// .skills_left ul li label {
//   text-align: left;
// }

// .skills_right ul li label {
//   text-align: right;
// }
